#root,
.sparkle-layout {
    height: 100%;
    .main-sider {
        background-color: rgb(32, 32, 32);
        .sider-logo-row {
            font-size: 20px;
            height: 64px;
            line-height: 64px;
            color: #fff;
            flex-wrap: nowrap;

            .logo-row-image {
                flex: 0 0 64px;
                text-align: center;

                .anticon {
                    width: 32px;
                    height: 32px;
                    font-size: 24px;
                    vertical-align: middle;
                    line-height: 32px;
                }
            }
            .logo-row-title {
                flex: 1;
                -webkit-app-region: drag;
            }
        }
        .ant-menu {
            background-color: rgb(32, 32, 32);
        }
        .sider-menu-row {
            height: calc(100% - 64px);
            .sider-menu-main {
                width: 100%;
                height: 100%;
            }
        }
    }
    .main-header {
        padding: 0 0 0 16px;
        background-color: rgb(245, 245, 245);
        color: rgb(163, 163, 163);
        line-height: 0;

        .main-header-collapse {
            line-height: 64px;
        }

        .main-header-resize {
            font-size: 9px;
            span {
                padding:8px 12px;
                cursor: pointer;

                &:hover {
                    
                    color: rgb(88, 88, 88);
                    background-color: rgb(229, 229, 229);
                }
            }
            .header-resize-close{
                &:hover{
                    color: #ffffff;
                    background-color: rgb(250, 81, 81);
                }
            }
        }
    }
    .main-content {
        // padding-top: 16px;
    }
}

.show-block {
    display: block !important;
}

.hidden {
    display: none !important;
}

.fade-in {
    animation: fadein 1s ease-in forwards;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.fade-out {
    animation: fadeout 1s ease-in forwards;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}
